# Ignore everything in the models directory
results/*
*.npy
matlab_script/*
*.m
models/*
*.tfevents.*
models/**/*.tfevents*
*/__pycache__/*
data/__pycache__/*
results

# Except for the files:
!models/__init__.py
!models/ae_3dconv.py
!models/entropy_loss.py
!models/memae_3dconv.py
!models/README.md 
!models/memory_module.py
!models/MemAE_Conv3DSpar_UCSD_P2_256_MemDim2000_EntW0.0002_ShrThres0.0025_Non.pt
